html{
	width: 100%;
	height:100%;
	margin: 0px;
}

body {
	margin: 0px;
	width: 100%;
	height:100%;
}

.contenedor{
	margin: 0px;
	width: 100%;
	height: 100%;
	background-color: white;
}

.col{
	height: 100%;
	width: 14%;
	float: left;
	background-color: white;
}

.mate{
	height: 50px;
	width: 100%;
	
	display: table;
	border-radius: 0.5em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font: 14px/100% Arial,Helvetica,sans-serif;
    
    /*background: #EFF4F3;*/
	
	text-align: center;
}

.electiva{
	/*pre requisitos*/
	background: #FF1A33;
	
	/*colores para las materias que se abren, no se cuál de los dos elegir.*/
	background: #9CEEE6;
	background: #AFFAF9;
	
	/*para las electivas*/
	background: #EFFAF9;
	
	
	
	
}

.mate2{
	height: 9.09%;
	width: 100%;
	
	display: table;
	border-radius: 0.5em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font: 14px/100% Arial,Helvetica,sans-serif;
    /*background: #EFF4F3;*/
	
	text-align: center;
}

.centrar{
	display: table-cell;
	vertical-align: middle;
}

.ciclo_original{
	height: 9.09%;
	width: 100%;	
	background-color: white;
	color: #80141C; 
	border-left: 1px solid #F7CDCD;
	font-size: 12px;
	font-weight: normal;	
	text-align: center;
	
	display: table;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #991821), color-stop(1, #80141C) );
	background:-moz-linear-gradient( center top, #991821 5%, #80141C 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#991821', endColorstr='#80141C');
	background-color:#991821; 
	color:#FFFFFF; 
	font-size: 15px; 
	font-weight: bold; 
	border-left: 1px solid #B01C26; 
}

.ciclo{
        display: table;
        height: 9.09%;
	width: 100%;	
	background-color: black;
	color: white; 
        font-size: 15px; 
	font-weight: bold; 
	border-left: 1px solid white; 
	text-align: center;
}
	
.footer{
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	color:white;
	background-color: black;
	width: 100%;
	height: 3%;
	display: inline-block;
}

.cabecera{
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	color:white;
	background-color: black;
	width:100%;
	height: 5%;
}
